@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Lato';
	font-style: normal;
    line-height: normal;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top__wrapper {
    height: 75px;
    background-color: #222;

}

.top {
    display: flex;
    justify-content: space-between;
    margin-right: 240px;
    margin-left: 231px;
}

.top__left {
    width: 111px;
    display: flex;
    justify-content: space-between;
}

.top__logo {
    padding-top: 18px;
    padding-bottom: 19px;
}

.top__magnifier {
    padding-top: 26.21px;
    padding-bottom: 20px;
    width: 26px;
    height: 27px;
    background-color: #222;
    border: none;
	cursor: pointer;
}

.top__right {
    padding-top: 26px;
    padding-bottom: 20px;
    display: flex;
    gap: 33px;
}

.top_btns {
    background-color: #222;
    border: none;
	cursor: pointer;
    
}

.content__wrapper {
    background-color: #f1e4e6;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: row;
}

.main__img {
    width: 800px;
    height: 764px;
}

.content_block {
    display: flex;
    gap: 16px;
    padding-top: 290px;
    padding-bottom: 381px;
    margin-left: 64px;
    
}

.content__title {
    width: 377px;
}

.title {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    color: #222222;
}
 
.title-text {
    font-weight: 700;
    font-size: 32px;
    color: #222222;
    text-transform: uppercase;
}
 
.text-select {
    color: #F16D7F;
}

.categories {
    margin-top: 65px;
    margin-bottom: 96px;
}

.categories__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 30px;
}

.item__women {
    background-image: url(./img/for_women.png);
    width: 360px;
    height: 260px;
}

.item__men {
    background-image: url(./img/for_men.png);
    width: 360px;
    height: 260px;
}

.item__kids {
    background-image: url(./img/for_kids.png);
    width: 360px;
    height: 260px;
}

.item__acs {
    background-image: url(./img/accesories.png);
    grid-row: 2;
    grid-column: 1 / 4;
    width: 1140px;
    height: 180px;
}

.category__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.category__text h3 {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
 
 .category__text h2 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #F16D7F;
}

.featured__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured__heading h3 {
    color: #222;
    font-size: 30px;
    font-weight: 400;

}

.featured__heading p {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 48px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 30px;
}

.add_to_cart {
    position: relative;
}
 
.cart {
    top: 40%;
    left: 30%;
    padding: 10px 15px;
    gap: 11px;
    border: 1px solid #FFFFFF;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1;
}
 
.text__cart {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.card-img {
    width: 100%;
}
 
.card-img:hover {
    filter: brightness(40%);
}
 
.add_to_cart:hover .cart {
    position: absolute;
    display: flex;
}
 
.add_to_cart:hover .cart:hover {
    position: absolute;
    display: flex;
}

.card__text {
    background-color: #F8F8F8;
    padding: 24px 16px 24px 16px;
}

.card__text h3 {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.card__text p {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card__text h4 {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.products__btn {
    margin-top: 48px;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 211px;
    height: 48px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #F26376;
    border: 1px solid #F26376;
    background: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.products__btn:hover {
    color: #FFFFFF;
    background: #F26376;
}

.advantages__wrapper {
    background-color: #222224;
    margin: 0 auto;
    height: 341px;
}

.advantages {
    display: flex;
    justify-content: space-between;

}

.advantages__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 103px;
    width: 360px;
    height: 133px;
    justify-content: space-between;
}

.advantages__card h2 {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.advantages__card p {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe__wrapper {
    height: 448px;
    background-image: url(./img/subscribe_background.png);
    background-repeat: no-repeat;
    background-position: center;
}

.shading {
    background: rgba(244, 244, 244, 0.7);
}

.subscribe {
    height: 448px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 223px;
}

.subscribe__info {
    margin-top: 97px;
    margin-bottom: 126px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.subscribe__info p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    height: 99px;
}

.subscribe__form {
    width: 557px;
    height: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.subscribe__form__text {
    text-align: center;
}

.subscribe__form__text h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.subscribe__form__text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
}

.subscribe__form__button form{
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
}

.subscribe__form__button input{
    width: 256px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    background: #E1E1E1;
	border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	position: relative;
    z-index: 1;
	overflow: hidden;
    padding-left: 22px;
    border: none;
}

.subscribe__form__button button{
    width: 100px;
    height: 49px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #F16D7F;
    cursor:pointer;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	vertical-align: middle;	
    padding-left: 15px;
    border: none;
}

.footer__wrapper {
    height: 79px;
    background-color: #222224;
}

.bottom__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bottom__content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer__icons {
    display: flex;
    gap: 8px;
}

.icon:hover .icon_back {
    fill: #F16D7F;
}

.icon:hover path {
    fill: #FFFFFF;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 736px;
    }

    .top__wrapper {
        height: 74px;
    }

    .top {
        margin-right: 41px;
        margin-left: 32px;
    }

    .content__wrapper {
        height: 368px;
    }

    .main__img {
        width: 386px;
        height: 368px;
    }

    .content_block {
        padding-top: 138px;
        padding-right: 34px;
        padding-bottom: 138px;
    }

    .content-text {
        width: 283px;
    }

    .title {
        font-size: 44px;
    }
     
    .title-text {
        font-size: 24px;
    }

    .categories {
        margin-bottom: 110px;
    }

    .categories__wrapper {
        gap: 20px;
    }

    .item__women {
        width: 232px;
        height: 168px;
    }
    
    .item__men {
        width: 232px;
        height: 168px;
    }
    
    .item__kids {
        width: 232px;
        height: 168px;
    }
    
    .item__acs {
        width: 735px;
        height: 116px;
    }


    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        gap: 16px;
    }

    .card__text {
        background-color: #F8F8F8;
        padding: 24px 29px 20px 16px;
    }

    .products__btn {
        margin-top: 32px;
        margin-bottom: 71px;
    }

}

@media (max-width: 767px) {
    .container {
        max-width: 359px;
        display: flex;
        justify-content: center;
    }

    .top__wrapper {
        height: 74px;
    }

    .top {
        margin-right: 16px;
        margin-left: 32px;
    }


    .hidden {
        display: none;
    }

    .content__wrapper {
        height: 363px;
    }

    .main__img {
        display: none;
    }

    .content_block {
        padding-top: 148px;
        padding-left: 56px;
        padding-bottom: 149px;
        padding-right: 56px;
        width: 263px;
        height: 66px;
    }

    .content-text {
        width: 236px;
    }

    .title {
        font-size: 38px;
    }
     
    .title-text {
        font-size: 20px;
    }

    .categories {
        margin-bottom: 64px;
    }

    .categories__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        gap: 32px;
    }

    .item__women,
    .item__men,
    .item__kids,
    .item__acs {
        width: 343px;
    }

    .featured__heading p {
        margin-top: 3px;
        margin-bottom: 65px;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .card__text h3 {
        margin-top: 23px;
    }

    .card__text p {
        margin-top: 13px;
        margin-bottom: 18px;
    }

    .products__btn {
        margin-top: 40px;
        margin-bottom: 85px;
    }

}
