@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Lato';
	font-style: normal;
    line-height: normal;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top__wrapper {
    height: 75px;
    background-color: #222;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top__left {
    width: 111px;
    display: flex;
    justify-content: space-between;
}

.top__logo {
    padding-top: 18px;
    padding-bottom: 19px;
}

.top__magnifier {
    padding-top: 26.21px;
    padding-bottom: 20px;
    width: 26px;
    height: 27px;
    background-color: #222;
    border: none;
	cursor: pointer;
}

.top__right {
    padding-top: 26px;
    padding-bottom: 20px;
    display: flex;
    gap: 33px;
}

.top_btns {
    background-color: #222;
    border: none;
	cursor: pointer;
    
}

.content {
    background-color: #f1e4e6;
    display: flex;
    flex-direction: row;

}

.main__img {
    width: 800px;
    height: 764px;
}

.content_block {
    display: flex;
    gap: 16px;
    padding-top: 290px;
    padding-bottom: 381px;
    margin-left: 64px;
    
}

.content__title {
    width: 377px;
}

.title {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    color: #222222;
}
 
.title-text {
    font-weight: 700;
    font-size: 32px;
    color: #222222;
    text-transform: uppercase;
}
 
.text-select {
    color: #F16D7F;
}

.categories {
    margin-top: 65px;
    margin-bottom: 96px;
}

.categories__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 30px;
}

.item__women {
    background-image: url(./img/for_women.png);
    width: 360px;
    height: 260px;
}

.item__men {
    background-image: url(./img/for_men.png);
    width: 360px;
    height: 260px;
}

.item__kids {
    background-image: url(./img/for_kids.png);
    width: 360px;
    height: 260px;
}

.item__acs {
    background-image: url(./img/accesories.png);
    grid-row: 2;
    grid-column: 1 / 4;
    width: 1140px;
    height: 180px;
}

.category__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.category__text h3 {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
 
 .category__text h2 {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #F16D7F;
}

.featured__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured__heading h3 {
    color: #222;
    font-size: 30px;
    font-weight: 400;

}

.featured__heading p {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 48px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    justify-content: center;
    gap: 30px;
}

.card__text {
    background-color: #F8F8F8;
    padding: 24px 16px 24px 16px;
}

.card__text h3 {
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.card__text p {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card__text h4 {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.products__btn {
    margin-top: 48px;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 211px;
    height: 48px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #F26376;
    border: 1px solid #F26376;
    background: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 736px;
    }

    .top__wrapper {
        height: 74px;
    }

    .top__left {
        margin-left: 32px;
    }

    .top__right {
        margin-right: 41px;
    }
    
    .content {
        gap: 39px;
        height: 368px;
    }

    .main__img {
        width: 386px;
        height: 368px;
    }

    .content_block {
        padding-top: 138px;
        padding-bottom: 138px;
    }

    .title {
        font-size: 44px;
    }
     
    .title-text {
        font-size: 24px;
    }

    .categories {
        margin-bottom: 110px;
    }

    .categories__wrapper {
        gap: 20px;
    }

    .item__women {
        width: 232px;
        height: 168px;
    }
    
    .item__men {
        width: 232px;
        height: 168px;
    }
    
    .item__kids {
        width: 232px;
        height: 168px;
    }
    
    .item__acs {
        width: 735px;
        height: 116px;
    }


    .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        gap: 16px;
    }

    .card__text {
        background-color: #F8F8F8;
        padding: 24px 29px 20px 16px;
    }

    .products__btn {
        margin-top: 32px;
        margin-bottom: 71px;
    }

}